        .white-text {
            color: #FFFFFF !important;
        }
        
        .bold {
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 700;
        }
        
        .semi-bold {
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 600
        }
        
        .regular {
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 400;
            color: #6b7c93;
        }
        
        .titulo-hackaton {
            background: linear-gradient(to top, #fdc202, #f94c41);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            display: inline;
            width: 142.9px;
            height: 14.9px;
        }
        /* .hackaton {
    height: 70vh;
} */
        
        .card-grid {
            display: grid;
            grid-template-columns: 1fr 3fr;
        }
        
        .redes {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-content: center;
            align-items: center;
            height: 101px;
        }
        
        .calendario-boton {
            display: grid;
            grid-template-columns: 8fr 2fr;
        }
        
        .calendar {
            margin-bottom: 50px;
        }
        
        .calendario-grid {
            display: grid;
            grid-template-rows: 1fr;
            height: 86.6%;
        }
        
        @media only screen and (max-width: 600px) {
            .calendario-grid {
                width: 100%;
            }
            .redes {
                display: grid;
                grid-template-columns: none;
                grid-template-rows: repeat(3, 1fr);
                justify-content: center;
                align-items: center;
                height: 101px;
            }
            .hackaton {
                height: 100%;
            }
            .calendario-boton {
                display: grid;
                grid-template-columns: none;
                grid-template-rows: 2fr 1fr;
            }
            .calendar {
                height: 100%;
            }
        }
        
        .semanas {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: 1fr repeat(5, 3fr);
        }
        
        .semanas span {
            text-align: center;
        }
        
        .cuadicula-dias {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: repeat(6, 1fr);
        }
        
        .logo {
            width: 100%;
            height: 100vh;
            text-align: center;
        }
        
        .LOGO_futura_GDG_UNAM {
            width: 228px;
            height: 228px;
            object-fit: contain;
        }
        
        .mensajes {
            width: 90px;
            height: 63px;
            opacity: 0.35;
            border-radius: 100px 0 0 100px;
            background-color: #ffffff;
        }
        
        .Shape {
            width: 63px;
            height: 55px;
            background-color: #ffffff;
        }
        
        .unete {
            width: 204px;
            height: 39px;
            border-radius: 13px;
            box-shadow: 0 2px 4px 0 rgba(100, 100, 100, 0.5);
            background-color: #ffffff;
            margin: 35px;
        }
        /* #container {
    overflow-y: scroll;
    scroll-behavior: smooth;
} */
        
        #logo-meetup {
            width: 80%;
        }
        
        body {
            background: linear-gradient(to right, #29a159, #2e80c2);
        }
        
        footer {
            background: #FFFFFF;
            margin-top: 25px;
        }
        
        .card {
            border-radius: 40px;
        }
        
        .circulo {
            border-radius: 100px;
        }
        
        .eventos-card {
            padding-left: 15px;
        }
        
        .eventos-card h5 {
            margin-top: 15px;
        }
        
        .hackaton-hacks:last-child {
            margin-bottom: 110px;
            margin-top: 60px;
        }
        /* NAVBAR STYLES */
        
        #navbar {
            background-color: rgba(255, 251, 251, 0.753);
            opacity: 0.3;
            width: 100%;
            height: 70px;
            margin-bottom: 20px;
        }
        /* Particles */
        
        #particles-js {
            width: 100%;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
        }
        
        .no-particles {
            position: relative;
            z-index: 100;
        }