.titulo-hackaton{
    background: linear-gradient(to right, yellow, orange);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display: inline;
}

.card-grid{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.redes{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.calendario-grid{
    display:grid;
    grid-template-rows: 1fr 7fr;
}

.cuadicula-dias{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(6,1fr);
}